<launch>
    <arg name="config"/>

    <rosparam file="$(find stereo_vo)/config/$(arg config).yaml" />

    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find stereo_vo)/config/rviz_config.rviz" />
    
    <node name="vo_node" pkg="stereo_vo" type="vo_node" output="screen"/>
</launch>
